.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .chatContainer {
    height: 90%;
    width: 60%;
    overflow: scroll;
  }

  .chatInput {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 32px;
  }
}
