
  .introContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    .introText {
      margin-bottom: 20px;
    }
  }
.login {
  width: 100vw;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  Button {
    width: 200px;
    height: 50px;
    font-weight: bold;
    background-color: #54c9bc;
    color: white;
    &:hover {
      background-color: #1a9789;
      color: white;
    }
  }
}
